.home{
    display: flex;
    flex-direction: column;
   

}
.home-header{
    display: flex;
    justify-content: space-between;
    padding: 20px 30px;
    align-items: center;
}
.home-headerLeft{
    display: flex;
    align-items: center;
}
.home-headerLeft > p{
    margin-right: 10px;
}
.home-headerRight{
    display: flex;
    align-items: center;
    min-width: 600px;
    justify-content: space-evenly;
}
.home-body{
    display: flex;
    flex: 1;
    flex-direction: column;
    margin-top: 10%;
    justify-content: center;
    align-items: center;
}

.home-body > img{
    object-fit: contain;
    height: 100px;
}

.home-inputContainer{
    margin-top: 20px;
    max-width: 700px;
    
}
