

.searchPage-header{
    display: flex;
    position: sticky;
    z-index: 999;
    top: 0;
    border-bottom: 1px solid grey;
    padding: 20px;
    background-color: white;
}
.searchPage-image{
    object-fit: contain;
    height: 80px;

}
.searchPage-headerBody{
    margin-top: 10px;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.searchPage-options{
    display: flex;
    justify-content: space-between;
    align-items: center; 
}
.searchPage-options a {
    text-decoration: none;
    color: grey;
}
.searchPage-option{
    display: flex;
    align-items: center;
    margin: 0 10px;
}
.searchPage-optionLeft{
    display: flex;
}
.searchPage-optionRight{
    display: flex;
    margin-left: 70px;
}
.searchPage-option{
    color: grey;
}
.searchPage-results{
    padding-left: 20px;
}
.searchPage-resultCount{
    font-size: 1rem;
    color: grey;
}
.searchPage-result{
    margin: 40px 0;
}
.searchPage-result > a {
    display: flex;
    align-items: center;
    text-decoration: none;
   
}
.searchPage-result > a > p{
    margin-left: 10px;
}
.searchPage-resultImage{
    height: 40px;
    object-fit: contain;
}